<div class="contenedor">
    <main>
        <section>
            <article>
                <h1>Titulo del post</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea amet dolores voluptatibus sequi debitis
                    accusamus voluptas modi quisquam repudiandae, ab minima dolorem ducimus veniam exercitationem
                    voluptate
                    cumque natus tempora dolorum.

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, laudantium, dicta voluptate, ea
                    at
                    quibusdam vero magni laboriosam in beatae dolorem molestias provident laborum pariatur soluta
                    temporibus
                    sapiente ipsam eaque.

                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis repellat numquam a distinctio
                    accusantium, neque commodi. Quibusdam porro modi, voluptatem eligendi unde neque ratione animi velit
                    dolorum iure possimus dolore.

                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia itaque dolore assumenda ea
                    nesciunt
                    quod sunt maxime voluptatum, unde facilis totam, illum placeat ab! Blanditiis sed perferendis
                    reiciendis
                    ad excepturi.

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur in impedit odio esse at amet quia
                    sit
                    vitae. Id, asperiores quasi rem esse dicta sapiente unde suscipit aspernatur! Cumque, perferendis?
                </p>
            </article>
        </section>

        <aside>
            <h4>Galeria de imágenes</h4>

            <article>
                <img src="../../../assets/imagenes/betta.jpg" alt="pezbetta">
            </article>
        </aside>
    </main>


</div>